<div class='transaction-contents'>
  <div class='transaction-main'>
    <h1 class='transaction-title-text'>
      購入内容の確認
    </h1>
    
    <div class='buy-item-info'>
      <%= image_tag @order.image, class: 'buy-item-img' %>
      <div class='buy-item-right-content'>
        <h2 class='buy-item-text'>
          <%= @order.name %>
        </h2>
        <div class='buy-item-price'>
          <p class='item-price-text'>¥<%= @order.price %></p>
          <p class='item-price-sub-text'>（税込）送料込み</p>
        </div>
      </div>
    </div>
    

    
    <div class='item-payment'>
      <h1 class='item-payment-title'>
        支払金額
      </h1>
      <p class='item-payment-price'>
        ¥<%= @order.price %>
      </p>
    </div>
    


    <%= link_to '購入する', item_order_path(item.id), method: :post %>
    
  </div>
</div>