<div class="top">
  <%= image_tag @producer.image %>
  <p><%= @producer.family_name %><%= @producer.first_name %>さんの商品一覧</p>
</div>

<div class="main">
  <% @items.each do |item| %>
    <div class="producer-items">
      <%= image_tag item.image.variant(resize: '200x200') %>
      <p class="name"><%= item.name %></p>
    </div>
  <% end %>
</div>